<a href="/">
    <img class="logo" src="/media/logo.svg" alt="My profile picture" width="48" height="48">
</a>
<nav>
    <ul class="flex-list">
        {% for entry in site.menus.navbar %}
            <li>
                <a href="{{ entry.url }}">{{ entry.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>